body {
  margin: 0;
  overflow: hidden;
}

#login_container{
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#login_text_container{
  position: relative;
  margin-top: 15vh;
  z-index: 100;
}

.glass_button{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 1);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:700;
  height: 4em;
  width: 13em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: rgba(255, 255, 255, 1);
  outline-style: none;
}

.glass_button:hover{
  /* Mouse becomes pointer */
  cursor: pointer;
}

.glass_button img {
  height: 1.5em;
}

a:visited,
a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}