.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.darkveil-container {
  position: fixed;
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  z-index: -1; /* send it behind the UI */
}